---
import Item from '../components/Item.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/global.css'
---

<Layout>
	<div x-data="{ items: [] }">
		<section class="section">
			<template x-for="i in items">
				<Item />
			</template>
		</section>

		<section class="container content is-normal notification">
			<p class="field">
				<input x-ref="titleInput" class="input" type="text" placeholder="Title..." />
			</p>
			<p class="field">
				<input x-ref="textInput" class="input" type="text" placeholder="Text..." />
			</p>

			<button class="button is-primary" x-on:click="items.push({text: $refs.textInput.value, title: $refs.titleInput.value})">Add</button>

		</section>
	</div>
</Layout>
